//header 

.header {
  color: white;
  min-height: 70vh; 
}

//sections

.color-section, 
.white-section {
  padding-top: rem-calc(100);
  padding-bottom: rem-calc(100);
}

//footers

.footer {
  color: $white;
}

//page-specific layout styling

.landing {
  .header {
    color: $landing-extra-dark;
    background-color: $landing-light;
  }

  .color-section {
    background-color: $landing-light;
  }

  .footer {
    background-color: $landing-dark;
  }
}

.greenbits {
  .header {
    background-color: $greenbits-dark;  
  }

  .color-section {
    background-color: $greenbits-light;
  }

  .footer {
    background-color: $greenbits-extra-dark;
  }
}

.dematic {
  .header {
    background-color: $dematic-dark;
  }

  .color-section {
    background-color: $dematic-light;
  } 

  .footer {
    background-color: $dematic-extra-dark;
  }
}

.tmw {
  .header {
    background-color: $tmw-dark;
  }

  .color-section {
    background-color: $tmw-light;
  }

  .footer {
    background-color: $tmw-extra-dark;
  }

}

.bb {
  .header {
    background-color: $bb-dark;
  }

  .color-section {
    background-color: $bb-light;
  }

  .footer {
    background-color: $bb-extra-dark;
  }

}














