//header 
$global-section-padding: rem-calc(120);

.header {
  @include breakpoint(medium) {
    min-height: 70vh; 
  }

  color: white;
}

.header-card {
  background-color: $white;
  padding-top: $global-section-padding;
  padding-bottom: $global-section-padding;
}

//sections

.color-section, 
.white-section {
  padding-top: $global-section-padding;
  padding-bottom: $global-section-padding;
}

//footers

.footer {
  color: $white;
  padding-top: $global-section-padding;
  padding-bottom: $global-section-padding; 
}

//page-specific layout styling

.landing {
  .header {
    color: $landing-extra-dark;
    background-color: $landing-light;
    padding: 2rem;
    padding-top: 6rem;
  }

  .color-section {
    background-color: $landing-light;
  }

  .footer {
    background-color: $landing-dark;
  }
}

.greenbits {
  .header {
     @include breakpoint(large) {
      background-size: 70vw auto;
      background-position: 20vw 25vh;
    }
    
    background-color: $greenbits-dark; 
    background-size: 85vw auto;
    background-position: 10vw 25vh; 
    background-image: url(../img/greenbits/greenbits-header.png);
    background-repeat: no-repeat;
  }

  .color-section {
    background-color: $greenbits-light;
  }

  .footer {
    background-color: $greenbits-extra-dark;
  }
}

.dematic {
  .header {
    @include breakpoint(large) {
      background-size: 40vw auto;
      background-position: 40vw 15vh;
    }

    background-color: $dematic-dark;
    background-size: 60vw auto;
    background-position: 35vw 15vh; 
    background-image: url(../img/dematic/dematic-header.png);
    background-repeat: no-repeat;
  }

  .color-section {
    background-color: $dematic-light;
  } 

  .footer {
    background-color: $dematic-extra-dark;
  }
}

.tmw {
  .header {
    @include breakpoint(large) {
      background-size: 70vw auto;
      background-position: 20vw 25vh;
    }

    background-color: $tmw-dark;
    background-size: 85vw auto;
    background-position: 10vw 25vh; 
    background-image: url(../img/tmw/tmw-header.png);
    background-repeat: no-repeat;
  }

  .color-section {
    background-color: $tmw-light;
  }

  .footer {
    background-color: $tmw-extra-dark;
  }

}

.bb {
  .header {
    @include breakpoint(large) {
      background-size: 70vw auto;
      background-position: 20vw 25vh;
    }

    background-color: $bb-dark;
    background-size: 85vw auto;
    background-position: 10vw 25vh; 
    background-image: url(../img/bb/bb-header.png);
    background-repeat: no-repeat;
  }

  .color-section {
    background-color: $bb-light;
  }

  .footer {
    background-color: $bb-extra-dark;
  }

}














