.section-title {
  color: $white;
  display: inline-block;
  font-weight: $global-weight-bold;
  font-size: rem-calc(14);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.button {
  font-weight: $global-weight-bold;
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  margin-bottom: 0;
}

.overview-text {
  font-size: rem-calc(28);
  font-weight: 300;
}

.landing {
  h1 {
  }

  h3 {
    color: $landing-extra-dark;
  }
}

.greenbits {
  .section-title {
  color: $greenbits-dark;
  }

}

.dematic {
  .section-title {
  color: $dematic-dark;
  } 

}

.tmw {
  .section-title {
  color: $tmw-dark;
  } 

}

.bb {
  .section-title {
  color: $bb-dark;
  }

}