
.white-img {
  box-shadow: 0px 4px 6px $light-gray;
}


.scrolling-img img:not(:last-child) {
  margin-bottom: 1rem;
}

.sticky {
  padding-bottom: rem-calc(120);
}

.sticky-img {
  width: 60%;
}

.research-list {
  @include breakpoint(medium) {
    margin-bottom: 0;
  }
  
  margin-bottom: 4rem;
}