.client-logo {
  max-height: rem-calc(40);
  max-width: rem-calc(250);
  margin-bottom: 2rem;
}

.greenbits-app {
  background: url(../img/landing/greenbits-app.png);
  background-size: auto 80%;
  background-position: 110% center;
  background-repeat: no-repeat;
}

.dematic-app {
  background: url(../img/landing/dematic-app.png);
  background-size: auto 90%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.tmw-app {
  background: url(../img/landing/tmw-app.png);
  background-size: auto 80%;
  background-position: 110% center;
  background-repeat: no-repeat;
}

.bb-app {
  background: url(../img/landing/bb-app.png);
  background-size: auto 90%;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.landing-product-description {
  margin-bottom: 2rem;
}