.skills-title {
  font-weight: 600;
}

.skills-description {
  font-size: rem-calc(14);
  padding-left: 1rem;
  padding-right: 1rem;
}

.skills-icon {
  margin-bottom: 2rem;
  width: 70%;
}

.skills-button {
  display: flex;
  justify-content: center;
}