.client-logo {
  max-height: rem-calc(40);
  max-width: rem-calc(250);
  margin-bottom: 2rem;
}

.landing-product-mobile-img {
  margin-top: 4rem;
}

.greenbits-app,
.bb .footer {
  @include breakpoint(xxlarge) {
    background-image: url(../img/landing/greenbits-app.png);
    background-size: auto 70%;
    background-position: 75% center;
    background-repeat: no-repeat;
  }

  @include breakpoint(xlarge only) {
    background-image: url(../img/landing/greenbits-app.png);
    background-size: auto 70%;
    background-position: 90% center;
    background-repeat: no-repeat;  
  }

  @include breakpoint(large only) {
    background-image: url(../img/landing/greenbits-app.png);
    background-size: 55% auto;
    background-position: 110% center;
    background-repeat: no-repeat;
  }

  @include breakpoint(medium only) {
    background-image: url(../img/landing/greenbits-app.png);
    background-size: 60% auto;
    background-position: 110% center;
    background-repeat: no-repeat;
  }
}

.dematic-app,
.greenbits .footer {
  @include breakpoint(xxlarge) {
    background-image: url(../img/landing/dematic-app.png);
    background-size: auto 95%;
    background-position: 75% center;
    background-repeat: no-repeat;
  }

  @include breakpoint(xlarge only) {
    background-image: url(../img/landing/dematic-app.png);
    background-size: auto 95%;
    background-position: 90% center;
    background-repeat: no-repeat;
  }
  
  @include breakpoint(large only) {
    background-image: url(../img/landing/dematic-app.png);
    background-size: 40% auto;
    background-position: 95% center;
    background-repeat: no-repeat;
  }
  @include breakpoint(medium only) {
    background-image: url(../img/landing/dematic-app.png);
    background-size: 55% auto;
    background-position: 95% center;
    background-repeat: no-repeat;
  }
}

.tmw-app,
.dematic .footer {
  @include breakpoint(xxlarge) {
    background-image: url(../img/landing/tmw-app.png);
    background-size: auto 70%;
    background-position: 75% center;
    background-repeat: no-repeat;
  }

  @include breakpoint(xlarge only) {
    background-image: url(../img/landing/tmw-app.png);
    background-size: auto 70%;
    background-position: 90% center;
    background-repeat: no-repeat;  
  }

  @include breakpoint(large only) {
    background-image: url(../img/landing/tmw-app.png);
    background-size: 55% auto;
    background-position: 110% center;
    background-repeat: no-repeat;
  }

  @include breakpoint(medium only) {
    background-image: url(../img/landing/tmw-app.png);
    background-size: 60% auto;
    background-position: 110% center;
    background-repeat: no-repeat;
  }
}

.bb-app,
.tmw .footer {
    @include breakpoint(xxlarge) {
    background-image: url(../img/landing/bb-app.png);
    background-size: auto 95%;
    background-position: 75% center;
    background-repeat: no-repeat;
  }

  @include breakpoint(xlarge only) {
    background-image: url(../img/landing/bb-app.png);
    background-size: auto 95%;
    background-position: 90% center;
    background-repeat: no-repeat;
  }
  
  @include breakpoint(large only) {
    background-image: url(../img/landing/bb-app.png);
    background-size: 40% auto;
    background-position: 95% center;
    background-repeat: no-repeat;
  }
  @include breakpoint(medium only) {
    background-image: url(../img/landing/bb-app.png);
    background-size: 55% auto;
    background-position: 95% center;
    background-repeat: no-repeat;
  }
}

.landing-product-description {
  margin-bottom: 2rem;
}