.result-header {
  font-weight: 800;
  margin-top: -1rem;
  margin-bottom: 4rem;
}

.result-subheader {
  margin-top: -3rem;

}

.results-sketch {
  @include breakpoint(medium) {
    width: 80%;
    margin-bottom: 0;
  }

  margin-bottom: 4rem;
}

.results-dotted {
  border: 0.5px dashed $light-gray;
}