
.top-bar-container {
  position: fixed;
  width: 100%;
}

.top-bar {
  ul {
    background: transparent;
  }

  background: transparent; 
  padding: 2rem;
}


.top-bar-icon {
  max-height: rem-calc(20);
  margin-left: 1rem;
}