
$scrollhide-nav-transition-speed: 1s;

.top-bar-container {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 100;
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);

  &.hidden {
    transform: translateY(-100%);
  }
}


.top-bar {
  ul {
    background: transparent;
  }

  background: transparent; 
  padding: 2rem;
  
  &.greenbits {
    background: $greenbits-dark;
  }

  &.dematic {
    background: $dematic-dark;
  }

  &.tmw {
    background: $tmw-dark;
  }

  &.bb {
    background: $bb-dark;
  }
}


.top-bar-icon {
  max-height: rem-calc(16);
  margin-left: 1rem;
}




