
.top-bar-container {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.top-bar {
  ul {
    background: transparent;
  }

  background: transparent; 
  padding: 2rem;
  
  &.greenbits {
    background: rgba(111, 143, 136, .7);
  }

  &.dematic {
    background: $dematic-dark;
  }

  &.tmw {
    background: $tmw-dark;
  }

  &.bb {
    background: $bb-dark;
  }
}


.top-bar-icon {
  max-height: rem-calc(16);
  margin-left: 1rem;
}
