<!--desktop flow-->
<div class="orbit" role="region" aria-label="carousel" data-orbit data-auto-play="false">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
    <!--slide 1-->
      <li class="orbit-slide is-active">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>1</h1>
            <span class="section-title">Look vs. individual items</span>
            <p>Choosing between buying a whole look or an individual item shapes the flow significantly. (Following is look-flow)</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-1.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>

      <!--slide 2-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>2</h1>
            <span class="section-title">Purpose builds trust</span>
            <p>Acknowledging the shopper’s purpose creates trust that the retailer can solve their problem</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-2.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 3-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>3</h1>
            <span class="section-title">Formality shapes recommendation type</span>
            <p>Formality means the difference between recommending a suit vs. a sweater, and allows asking about attributes of specific items.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-3.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 4-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>4</h1>
            <span class="section-title">Colors represent style</span>
            <p>Style is abstract, but color (and pattern) helps users concretely communicate their style preference.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-4.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 5-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>5</h1>
            <span class="section-title">Fit by body type</span>
            <p>Without the ability to measure shoppers, a self-assessment of body type from “classic” to “extreme slim” narrows sizes.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-5.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 6-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>6</h1>
            <span class="section-title">Size specifies fit</span>
            <p>An optional step is that shoppers can enter sizes they already know for all relevant products, ensuring all recommendations are accurate.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-6.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 7-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>7</h1>
            <span class="section-title">Collections reflect budget</span>
            <p>To keep shoppers from only choosing low prices and refocus them on what they are actually looking for, collection are used to connect price to quality.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-7.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 8-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>8</h1>
            <span class="section-title">Jackets shapes pairing direction</span>
            <p>The first recommendation is the jacket - the main piece that defines the look of the rest of the outfit.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-8.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 9-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>9</h1>
            <span class="section-title">pairing happens visually</span>
            <p>Multiple “core” categories are shown alongside the jacket, invoking a mirror-like visual, and reducing question-fatigue.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-9.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 10-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>10</h1>
            <span class="section-title">deals close sales</span>
            <p>Once shoppers choose the items they want, they are emotionally invested in the products and are looking to get the best deal.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-10.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
      <!--slide 11-->
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-3 medium-push-1">
            <h1>11</h1>
            <span class="section-title">previews fine-tune details</span>
            <p>Shoppers feeling hesitant to check-out without reviewing every detail can preview their product and make adjustments.</p>
          </div>
          <div class="columns medium-7 medium-pull-1">
            <img class="white-img" src="{{root}}assets/img/tmw/tmw-11.png" alt="flow image" class="tmw-flow-img">
          </div>
        </div>
      </li>
    </ul>
  </div>


  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    <button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>
    <button data-slide="5"><span class="show-for-sr">Sixth slide details.</span></button>
    <button data-slide="6"><span class="show-for-sr">Seventh slide details.</span></button>
    <button data-slide="7"><span class="show-for-sr">Eighth slide details.</span></button>
    <button data-slide="8"><span class="show-for-sr">Ninth slide details.</span></button>
    <button data-slide="9"><span class="show-for-sr">Tenth slide details.</span></button>
    <button data-slide="9"><span class="show-for-sr">Eleventh slide details.</span></button>
  </nav>

</div>