<div class="top-bar-container">
<div class="top-bar bb">
   <div class="top-bar-left"><a href="index.html"><img src="{{root}}assets/img/logos/john-case-study.svg" alt=""></a></div>
   <div class="top-bar-right">
    <ul class="menu">
      <li><a href="mailto:john.k.f.cheng@gmail.com?Subject=Connecting%20about%20design!" target="_blank"><img class="top-bar-icon" src="{{root}}assets/img/icons/cs-contact.svg" alt=""></a></li>
     <li><a href="https://www.linkedin.com/in/john-cheng-25746795" target="_blank"><img class="top-bar-icon" src="{{root}}assets/img/icons/cs-linkedin.svg" alt=""></a></li>
   </ul>
 </div>
</div>
</div>